/* dohvatamo Roboto font sa sledeće adrese */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/new-year.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 height: 100vh; 
 color: aliceblue;
  font-family: 'Lato', sans-serif;  
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  overflow: hidden; 
  margin: 0;
  
}

h1{
  font-size: 60px;
  margin: -80px 0 40px;
}

.year{
  font-size: 200px;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
}

.countdown{
  /*display: none;*/
  flex-direction: row;
  transform: scale(2);
  text-align: center;
}

time{
  margin: 15px;
}
time h2{
  margin: 0 0 5px;
}
@media(max-width:500px){
  h1{
    font-size: 45px;
  }
  .time{
    margin: 5px;
  }
  .time h2{
    font-size: 10px;
  }
  .year{
    font-size: 100px;
  }
}